{{- $hasBatteryAuto := false -}}
{{- if glob "/sys/class/power_supply/BAT*" -}}
  {{- $hasBatteryAuto = true -}}
{{- end -}}
{{- $hasBattery := promptBoolOnce . "hasBattery" "Does the machine have a battery" $hasBatteryAuto -}}

{{- $eNetworkInterfaceAuto := output "sh" "-c" "ls /sys/class/net | grep '^e'" | trim -}}
{{- if not $eNetworkInterfaceAuto -}}
  {{- $eNetworkInterfaceAuto = "None" -}}
{{- end -}}
{{- $eNetworkInterface := promptStringOnce . "eNetworkInterface" "Default wired network interface" $eNetworkInterfaceAuto -}}

{{- $wNetworkInterfaceAuto := output "sh" "-c" "ls /sys/class/net | grep '^w'" | trim -}}
{{- if not $wNetworkInterfaceAuto -}}
  {{- $wNetworkInterfaceAuto = "None" -}}
{{- end -}}
{{- $wNetworkInterface := promptStringOnce . "wNetworkInterface" "Default wireless network interface" $wNetworkInterfaceAuto -}}

[data]
    hasBattery = {{ $hasBattery }}
    eNetworkInterface = {{ $eNetworkInterface | quote }}
    wNetworkInterface = {{ $wNetworkInterface | quote }}
